/*socialed-style.css */
/* Own stylesheet for SocialED */

#container {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  padding-left: 20px;
  background-color: #FFFFFF; /* beige */
  font-color: #2A2929; /* dark grey */
  margin: 10px;
}
a:link{
 color:green;

 }
a:hover {
  color:grey;
}
h1 {
   color:yellow;
   font-size:20pt;


}
form {
    color:purple;
}
label {
    color:purple;
}
.inputs {
    color:#14BA42;
}
p{
    color:#96B8A9;
}
